<p>Themes switcher</p>
<div class="themes-switcher">
  @for (theme of themes(); track theme.name) {
    <label class="theme-option">
      <input
        type="radio"
        name="themeActive"
        [value]="theme.name"
        [checked]="theme.name === themeActive()"
        (change)="onThemeChange(theme.name)"
      />
      {{ theme.name }}
    </label>
  }
</div>

<p>Templated modal with inline content and custom buttons</p>
<button (click)="modal.open()">Open Templated Modal</button>

<p>Modal opened via modal service</p>
<button (click)="onOpenComponentModal()">Open Service Modal</button>

<p>Basic modal types</p>
<button (click)="onOpenError()">Open Error</button>
<button (click)="onOpenWarning()">Open Warning</button>
<button (click)="onOpenSuccess()">Open Success</button>
<button (click)="onOpenInfo()">Open Info</button>
<button (click)="onOpenConfirm()">Open Confirm</button>

<!-- title="Templated Modal And Another Very Long Title I Want That User Can See All The Time And Another Very Long Title I Want That User Can See All The Time" -->
<fm-modal
  id="test-custom-id"
  width="medium"
  height="fit-content"
  position="center"
  scroll="content"
  [maximized]="false"
  [closable]="true"
  [maximizable]="true"
  (open)="onTemplateModalOpened($event)"
  #modal
>
<!--   <h3 -->
<!--     class="fm-modal-header" -->
<!--     [class]="'custom-header-theme&#45;&#45;' + theme" -->
<!--     *fmModalHeader="let title = $title; let theme = $theme" -->
<!--   > -->
<!--     <span style="color: red">!!! {{ title }}</span> -->
<!--   </h3> -->

  <fm-app-template-aware *fmModalBody [modal]="modal" />

  <div
    class="fm-modal-footer"
    [class]="'custom-footer-theme--' + theme"
    *fmModalFooter="let actionsTpl = $actionsTpl; let theme = $theme"
  >
    <div class="pagination">
      <a class="arrow" href="#">&#x21FD;</a>
      <span class="step">step <b>2</b> from <b>5</b></span>
      <a class="arrow" href="#">&#x21FE;</a>
    </div>

    <div class="footer-actions">
      <ng-container *ngTemplateOutlet="actionsTpl" />
    </div>
  </div>

  <button
    class="fm-modal-action-button primary"
    *fmModalAction="{ closeOnClick: false }"
    (click)="buttonVisible.set(!buttonVisible())"
  >Toggle Button</button>

  <button
    class="fm-modal-action-button"
    *fmModalAction="{ visible: buttonVisible(), closeOnClick: false }"
    (click)="modal.maximized() ? modal.minimize() : modal.maximize()"
  >Hidden Button</button>
</fm-modal>
