<p>Templated modal with inline content and custom buttons</p>
<button (click)="modal.open()">Open Templated Modal</button>

<p>Modal opened via modal service</p>
<button (click)="onOpenComponentModal()">Open Service Modal</button>

<p>Basic modal types</p>
<button (click)="onOpenError()">Open Error</button>
<button (click)="onOpenWarning()">Open Warning</button>
<button (click)="onOpenSuccess()">Open Success</button>
<button (click)="onOpenInfo()">Open Info</button>
<button (click)="onOpenConfirm()">Open Confirm</button>

<fm-modal
  id="test-custom-id"
  title="Templated Modal"
  [closable]="false"
  (open)="onTemplateModalOpened($event)"
  #modal
>
  <app-template-aware *fmModalBody />

  <button
    fm-button
    fm-button-primary
    *fmModalButton="{ closeOnClick: false }"
    (click)="buttonVisible.set(!buttonVisible())"
  >Toggle Button</button>

  <button
    fm-button
    *fmModalButton="{ visible: buttonVisible() }"
  >Hidden Button</button>
</fm-modal>
