<p>Themes switcher</p>
<div class="themes-switcher">
  @for (theme of themes(); track theme.name) {
    <label class="theme-option">
      <input
        type="radio"
        name="themeActive"
        [value]="theme.name"
        [checked]="theme.name === themeActive()"
        (change)="onThemeChange(theme.name)"
      />
      {{ theme.name }}
    </label>
  }
</div>

<p>Templated modal with inline content and custom buttons</p>
<button (click)="modal.open()">Open Templated Modal</button>

<p>Modal opened via modal service</p>
<button (click)="onOpenComponentModal()">Open Service Modal</button>

<p>Basic modal types</p>
<button (click)="onOpenError()">Open Error</button>
<button (click)="onOpenWarning()">Open Warning</button>
<button (click)="onOpenSuccess()">Open Success</button>
<button (click)="onOpenInfo()">Open Info</button>
<button (click)="onOpenConfirm()">Open Confirm</button>

<fm-modal
  id="test-custom-id"
  title="Templated Modal And Another Very Long Title I Want That User Can See All The Time And Another Very Long Title I Want That User Can See All The Time"
  width="medium"
  height="fit-content"
  position="center"
  scroll="modal"
  [maximized]="false"
  [closable]="true"
  [maximizable]="true"
  (open)="onTemplateModalOpened($event)"
  #modal
>
  <fm-app-template-aware *fmModalBody [modal]="modal" />

  <button
    class="fm-modal-action-button primary"
    *fmModalAction="{ closeOnClick: false }"
    (click)="buttonVisible.set(!buttonVisible())"
  >Toggle Button</button>

  <button
    class="fm-modal-action-button"
    *fmModalAction="{ visible: buttonVisible(), closeOnClick: false }"
    (click)="modal.maximized() ? modal.minimize() : modal.maximize()"
  >Hidden Button</button>
</fm-modal>
